@model TiendaOnline.Services.DTOs.LoginDto

<form method="post" action="/Account/Login">
    <div>
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="Username" />
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <button type="submit">Iniciar sesión</button>
</form>
