@model TiendaOnline.Services.DTOs.LoginDto

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Iniciar Sesión</h2>

            <!-- Mensajes de éxito y error -->
            @if (TempData["SuccessMessage"] != null)
            {
<<<<<<< HEAD
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
=======
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
>>>>>>> Se reconfigura DAL
            }

            <form method="post" action="/Account/Login" class="needs-validation mt-4" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario:</label>
                    <input type="text" id="username" name="Username" class="form-control" value="@Model?.Username" required />
                    <div class="invalid-feedback">Por favor, introduce tu usuario.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" id="password" name="Password" class="form-control" required />
                    <div class="invalid-feedback">Por favor, introduce tu contraseña.</div>
                </div>
                <div class="d-grid gap-2">
<<<<<<< HEAD
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
=======
                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
>>>>>>> Se reconfigura DAL
                </div>
            </form>
        </div>
    </div>
</div>
<<<<<<< HEAD

=======
>>>>>>> Se reconfigura DAL
